html, body {
    height: 100%;
}
.navbar {
    margin-bottom: 0px;
}
#web{
    min-height: 100%;
    height: auto;
    margin: 0 auto -87px;
    width: 50%;
}
#header{
    background:url("../assets/headhead.jpg");
    background-repeat: repeat-x;
    padding: 40px 20px 80px 20px;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;

    color:white;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color:#f5f5f5;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
    margin-bottom: 0em !important;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
    margin-bottom: 0px;
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

.tab-links li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

table.Items{
    background-color:#FFFFCC;
}

table.foodNutrition{
    background-color:#CCFFFF;
}
/*----- Content of Table -----*/
table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}
thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}
th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}
th:last-child {
    border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
    background: #f0f0f2;
}
td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
td:first-child {
    border-left: 1px solid #cecfd5;
}
.mel-title {
    color: #395870;
    display: block;
}
.text-offset {
    color: #7c7c80;
    font-size: 12px;
}
.item-Mon,
.item-Tue,
.item-Wed,
.item-Thu,
.item-Fri,
.item-Sat,
.item-Sun,
.item-All {
    text-align: center;
}


.item-multiple {
    display: block;
}
tfoot {
    text-align: right;
}
tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
}
tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

#nameBar {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid grey;
}

.nameBar {
    float: left;
    margin-right: 10px;
    margin-bottom:  2px;
}

#preview{
    width:260px;
    height:190px;
    border:1px solid #000;
    overflow:hidden;
}

#imghead {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}

#footer {
    background: url("../assets/footer.gif");
    height: 150px; /* .push must be the same height as .footer */

}
.push {
    height: 150px;
}
.food_name
{
    color:#3299CC;
    cursor:pointer;
}