html, body {
    height: 100%;
}
#web{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -87px;
    width: 50%;
}
.header{
    background:url("../assets/headhead.jpg");
    padding: 40px 20px 80px 20px;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;

    color:white;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

#popular{
    background-colour:#79DAF7;
}
table.popular {
    width:100%;
    border:1px solid #d4d4d4;
}
table.popular th,td {
    padding:10px;
}
table.popular th {
    width:40px;
}

#nav {
    padding: 0;
    margin-bottom: 11px;
}

#nav li {
    display: inline;
    margin-right: 3px;
}

#nav li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

#nav li a:hover {
    color: white;
    background-color: black;
}

#footer {
    background: url("../assets/footer.gif");
    height: 150px; /* .push must be the same height as .footer */

}
.push {
    height: 150px;

}

.question-score
{
    float: right;
}

.one_question_link
{
    text-decoration: underline;
}


.one_question_link:hover
{

}

.one_question_div
{
    margin-bottom: 1%;
}

.question-list
{
    width: 50%;
}