/*header footer*/

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
}

.header{
    background:url("../assets/headhead.jpg");
    padding: 40px 20px 80px 20px;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;

    color:white;
}
#footer {
    position:relative;
    background: url("../assets/footer.gif");
    height: 150px; /* .push must be the same height as .footer */

}
.push {
    height: 150px;


}
/*including own style sheet after bootstrap can overwrite it*/
a
{
    color:black;
    text-decoration: none;
    text-decoration: none !important;
}

a:focus
{
    color:black;
    text-decoration: none;
    text-decoration: none !important;
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #696969;
    padding: 3px;
}

.nav > li > a:focus, .nav > li > a:hover
{
    background-color: transparent;
}

a:hover
{
    color:white;
    text-decoration: underline;
}

#home:hover
{
    background-color: red;
    transition-timing-function:linear;
    transition-duration:2s;
}

.nav.navbar-nav a
{
    color:#ffffff;
}

.container-fluid
{
    color:white;
    background-color: #353736;
}

.navbar-brand
{
    color:white;
}
/* health overflow */
/*once clicked/focused,  animation will stayed*/
.navbar-brand:hover,.navbar-brand:focus
{
    color:white;
    background-color: #384E7A;
    transition-timing-function:linear;
    -webkit-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 7px 9px 0px rgba(50, 50, 50, 1);
}

/*nav bar home /forum/health/about*/



.nav_element:hover,.nav_element:focus
{

    transition-timing-function:linear;
    -webkit-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 7px 9px 0px rgba(50, 50, 50, 1);
}

.nav_element.user_details
{
    background-color: #3299CC;
}

.nav_element.user_details:hover
{
    background-color: #3299CC;
}

.nav_element.home:hover
{
    background-color: #2A8896;
}

.nav_element.forum:hover
{
    background-color: #684D7F;
}

.nav_element.health_manager:hover
{
    background-color: #A03536;
}


.nav_element.SignUp:hover
{
    background-color: #D1AC5C;
}

.nav_element.about:hover
{
    background-color: #58822E;
}

.nav_element.Login:hover
{
    background-color: #F2671F;
}




/***************************************/



#page_footer
{
    height:70px;
    left:0;
    position:fixed;
    width:100%;
    bottom:0;
    background-color: #F2F2F2;
}


#page_footer > .project_detials
{

    position:relative;
    top:-30px;
    left:1%;
    color:black;
}

/* Home Buttom Area*/

@-webkit-keyframes home_buttom_sizing
{
    0% {transform: scale(1.05,1.05); }
    50% {transform: scale(1,1); }
    100% {transform: scale(1.05,1.05);  }
}


@-moz-keyframes home_buttom_sizing
{
    0% {transform: scale(1.05,1.05); }
    50% {transform: scale(1,1); }
    100% {transform: scale(1.05,1.05);  }
}

@keyframes home_buttom_sizing
{
    0% {transform: scale(1.05,1.05); }
    50% {transform: scale(1,1); }
    100% {transform: scale(1.05,1.05);  }
}
/*cubic-bezier is from http://cubic-bezier.com/*/
.home_buttom
{
    color:black;
    margin:0 auto;
    height:350px;
    width:350px;
    transition-timing-function: cubic-bezier(0.7,0.2,0.75,0.22);
    /*animation-timing-function: cubic-bezier(0.54,0.78,0.69,0.17);*/
    animation-timing-function: cubic-bezier(0.7,0.2,0.75,0.22);
    /*
    animation-timing-function: cubic-bezier(0.18,1,0.43,0.94);
    -webkit-animation-timing-function: cubic-bezier(0.18,1,0.43,0.94);
    -moz-animation-timing-function: cubic-bezier(0.18,1,0.43,0.94);*/
    -webkit-animation: home_buttom_sizing 3s infinite;
    -moz-animation: home_buttom_sizing 3s infinite;
    animation: home_buttom_sizing 3s infinite;
    -webkit-box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 7px 9px 0px rgba(50, 50, 50, 1);
}

.home_buttom:hover
{
    cursor:pointer;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}


.home_buttom h1
{
    font-size: 50px;
    position:relative;
    top:40%;
    text-align:center;
    z-index: 99;
}

.home_buttom h1:hover
{


}

.buttom_area
{
    color:black
}


.home_buttom.health_manager_div h1
{
    top:35%;
}

.home_buttom.forum_div:hover
{
    background-color: #684D7F;
    -webkit-box-shadow: 0px 7px 9px 0px rgba(104, 77, 127, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(104, 77, 127, 1);
    box-shadow:         0px 7px 9px 0px rgba(104, 77, 127, 1);

}

.home_buttom.health_manager_div:hover
{
    background-color: #A03536;
    -webkit-box-shadow: 0px 7px 9px 0px rgba(160, 53, 54, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(160, 53, 54, 1);
    box-shadow:         0px 7px 9px 0px rgba(160, 53, 54, 1);
}
.home_buttom.about_div:hover
{
    background-color: #58822E;
    -webkit-box-shadow: 0px 7px 9px 0px rgba(88, 130, 46, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(88, 130, 46, 1);
    box-shadow:         0px 7px 9px 0px rgba(88, 130, 46, 1);
}

.home_buttom.forum_div:hover
{
    background-color: #684D7F;
    -webkit-box-shadow: 0px 7px 9px 0px rgba(104, 77, 127, 1);
    -moz-box-shadow:    0px 7px 9px 0px rgba(104, 77, 127, 1);
    box-shadow:         0px 7px 9px 0px rgba(104, 77, 127, 1);
}


#home_page_animated_table
{
    position:relative;
    top:25%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    margin-bottom: 20px;
    width:1250px;
    height:350px;
    /*border-color: red;*/
    /*border-color: red;*/
}

/*login window*/
/*div positioning in the middle of page is inspired by

http://stackoverflow.com/questions/5012111/how-to-position-a-div-in-the-middle-of-the-screen-when-the-page-is-bigger-than-t

*/
.window
{
    flex-direction:column-reverse;
    position:fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    width:500px;
    height:300px;
    margin-top: -150px; /*set to a negative number 1/2 of your height*/
    margin-left: -250px; /*set to a negative number 1/2 of your width*/
    -webkit-box-shadow: 0px 0px 40px 11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 40px 11px rgba(0,0,0,1);
    box-shadow: 0px 0px 40px 11px rgba(0,0,0,1);

    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 6;
}

