img
{

    /* Rotate div */
    /*-ms-transform: rotate(7deg);*/
    /* IE 9 */
    /*-webkit-transform: rotate(7deg);*/
    /* Chrome, Safari, Opera */
    /*transform: rotate(7deg);*/
    width:300px;
    height:300px;
}
#left
{
    position:absolute;
    width:50px;
    height:50px;
    background-color: red;
    z-index:1;
}

#right
{
    position:absolute;
    width:50px;
    height:50px;
    background-color: green;
    float:right;
    z-index:1;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner
{
    from
        { -webkit-transform: rotateY(0deg); }
    to
        { -webkit-transform: rotateY(-360deg); }
}
 /* all other browsers */
@keyframes spinner
{
    from
    {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to
    {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

#stage
{
    margin: 1em auto; -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}

#spinner
{
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#spinner:hover
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/*
#balloon_section:hover .balloon.one
{
    left:-20px;
    -webkit-transform: perspective( 400px ) rotateY(45deg) translateZ( -50px );
    -moz-transform: perspective( 400px ) rotateY(45deg) translateZ( -50px );
    transform: perspective( 400px ) rotateY(45deg) translateZ( -50px );

}

#balloon_section:hover .balloon.two
{
    -webkit-transform: perspective( 400px ) translateZ( 50px );
    -moz-transform: perspective( 400px ) translateZ( 50px );
    transform: perspective( 400px ) translateZ( 50px );

}

#balloon_section:hover .balloon.three
{
    -webkit-transform: perspective( 400px ) rotateY(-45deg) translateZ( -50px );
    -moz-transform: perspective( 400px ) rotateY(-45deg) translateZ( -50px );
    transform: perspective( 400px ) rotateY(-45deg) translateZ( -50px );

}*/

#balloon_section
{
    height:500px;
    width:1200px;
    position:relative;
    background-color: blue;
}

.balloon
{
    top:50px;
    position:relative;
    float:left;
    left: 0px;
    margin-left:50px;
    transform-style: preserve-3d;
    transition-timing-function:linear;
    transition-duration:0.5s;
}

.balloon.shaddow
{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 1);
}