body {
    background-color: dimgrey; 
    color: #696969;
}

.main {
    position: relative;
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    position: relative;
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 3px;
    display: block;
}

table.about {
    width:100%;
    border:1px solid #d4d4d4;
}
table.about th,td { 
    padding:10px;
}
table.about th { 
    width:40px;
}

table.food {
    width:100%;
    border:1px solid #d4d4d4;
}
table.food th { 
    padding:10px;
	width:40px;
}

table.test {
    width:100%;
    border:1px solid #d4d4d4;
}
table.test th { 
    padding:10px;
	width:40px;
}

table.calculator {
    width:50%;
    border:1px solid #d4d4d4;
}
table.calculator th { 
    padding:10px;
	width:40px;
}

table.plan {
    width:100%;
    border:1px solid #d4d4d4;
}
table.plan th { 
    padding:10px;
	width:40px;
}

table.comment {
    width:100%;
    border:1px solid #d4d4d4;
}
table.comment th { 
    padding:10px;
	width:40px;
}

table.set {
    width:50%;
    border:1px solid #d4d4d4;
}
table.set th { 
    padding:10px;
	width:15px;
}

#footer{
	
}

#header {
    margin-bottom: 50px;
}

#tabNav {
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
}

#tabNav li {
    border: 2px solid grey;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background: gainsboro;
    display: inline;
    margin-right: 30px;
}

#tabNav li.selected {

    background: #FFFFFF;
    border: 2px solid #000000;

}

#tabNav li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

#tabNav li a:hover {
    color: white;
    background-color: black;
}