html, body {
    height: 100%;
}
#web{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -87px;
    width: 50%;
}

.hidden
{
    display:none;
}

.unhidden
{
    visibility:visible;
}


.push {
    height: 150px;

}
