html, body {
    height: 100%;
}
#web{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -87px;
    width: 50%;
}
.header{
    background:url("headhead.jpg");
    padding: 40px 20px 80px 20px;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;

    color:white;
}

.hidden
{
    display:none;
}

.unhidden
{
    visibility:visible;
}

#footer {
    background: url("footer.gif");
    height: 150px; /* .push must be the same height as .footer */

}
.push {
    height: 150px;

}